@model IEnumerable<Slider>
@{
    ViewData["Title"] = "Index";
    int counter = 1;
}

<main id="main" class="main">
    <section class="section">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sliders</h5>
                    <!--
                        demeli slider deki sekilllerin syi cox olmamasi
                    -->
                    @if (ViewBag.Count < 5)
                    {
                        <a asp-action="Create" class="btn btn-dark">Create New </a>
                    }
                    <!-- Table with stripped rows -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Image</th>
                                <th scope="col">Title</th>
                                <th scope="col">Description</th>
                                <th scope="col">Discount</th>
                                <th scope="col">Settings</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            @foreach(var item in Model)
                            {
                                <tr>
                                    <th scope="row">@counter</th>
                                    <td>
                                        <img src="~/@item.ImageUrl" style="width:100px"/>
                                    </td>
                                    <td>@item.Title</td>
                                    <td>@item.Description</td>
                                    <td>@item.Discount</td>
                                    <td>
                                        <a asp-action="Details" asp-route-id=@item.Id class="btn btn-primary">
                                            <i class="bx bx-comment-detail"></i>
                                            </a>
                                        <a asp-action="Update" asp-route-id=@item.Id class="btn btn-warning">
                                            <i class="bx bxs-edit"></i>
                                        </a>
                                        <a asp-action="Delete" asp-route-id=@item.Id class="btn btn-danger">
                                            <i class="bx bx-trash"></i>
                                        </a>
                                     </td>
                                </tr>
                                counter++;
                            }
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>
        </div>
        </section>
</main><!-- End #main -->

