@model SliderUploadVM
@{
    ViewData["Title"] = "Update";
}

<main id="main" class="main">

    <div class="Update">
        <h1></h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index">Slider</a></li>
                <li class="breadcrumb-item">Update Slider</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Update</h5>

                    <!-- Vertical Form -->
                    <form method="post" class="row g-3" enctype="multipart/form-data">
                        <div class="col-12">
                                <img style="width:100px" src="~/@Model.ImageUrl" />
                        </div>
                        <div class="col-12">
                            <label asp-for="Title"></label>
                            <input asp-for="Title" class="form-control">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <label asp-for="Description"></label>
                            <input asp-for="Description" class="form-control">
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <label asp-for="Image">Image</label>
                            <input asp-for="Image" accept="image/*" class="form-control">
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <label asp-for="Discount"></label>
                            <input asp-for="Discount" class="form-control">
                            <span asp-validation-for="Discount" class="text-danger"></span>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </form><!-- Vertical Form -->

                </div>
            </div>
        </div>
    </section>
</main>

@section scripts{
    <partial name="_ValidationPartial"></partial>
}

